/*
Style sheet for masters administrations (web_master_services.php)
Auth : VASTVIKTA NISHAD 
CREATED ON : 19-02-2024 
for web_master_services.php 
*/
.menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-item {
    margin: 5px;
  }

  .dropbtn {
    position:relative;
    background-color: #4694BF;
    color: white;
    padding-top:10px;
    padding-bottom : 15px;
    font-size: 13px;
    border: none;
    width: 100%;
    text-align: center; 
  }

  .dropdown {
    margin-bottom: 2px
  }

  .dropdown-content {
    display: none; 
    position: relative; 
    background-color: #B1BF46;
    min-width: 160px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
  }

  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: left; 
    text-align: center; 
  }
  .dropdown-content a:hover {
    background-color: #B1BF46;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #0F3367;
  }
.active-link {
    background-color:  #449A9B !important;
    text-align:center !important;
  }
  .active-dropdown {
    background-color: #0F3367; 
  }
