      .info-box {
         min-height: 0;
         padding: 7px;
         height: 50px;
      }

      .info-box-text {
         font-size: smaller;
      }

      .info-box .info-box-icon {
         width: 36px;
      }

      .info-box .info-box-number {
         font-weight: initial;
         font-size: 12px;
      }

      .bg-green2 {
         background-color: #12e094a8;
         color: #fff;
      }

      .bg-purple2 {
         background-color: #99c0fa;
         color: #fff;
      }

      .fa,
      .fas,
      .fab,
      .far {
         font-size: 15px;
      }

      .table-bordered td,
      .table-bordered th {
         font-size: smaller;
      }

      .card-header2 {
         padding: 0.2rem 0.5em;
         background-color: transparent;
      }

      @media (min-width: 768px) {

         body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
         body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
         body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
            margin-left: 0;
         }

         .highcharts-figure,
         .highcharts-data-table table {
            min-width: 320px;
            max-width: 660px;
            margin: 1em auto;
         }

         .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
         }

         .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
         }

         .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
         }

         .highcharts-data-table td,
         .highcharts-data-table th,
         .highcharts-data-table caption {
            padding: 0.5em;
         }

         .highcharts-data-table thead tr,
         .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
         }

         .highcharts-data-table tr:hover {
            background: #f1f7ff;
         }

         .highcharts-credits {
            display: none;
         }
         /* #btnConvert{
            padding: 7px;
            margin-top: -6px;
            width: 100px;
            height: 35px;
            background-color: #28a745;
            color: white;
         } */
      }
